/* Título de la tabla */
.pdocrud-table-container .page-title {
    background: #3a7bb5; /* Azul medio */
    color: #FFFFFF; /* Blanco */
}

/* Encabezado de la tabla */
.pdocrud-table-container .pdocrud-table-heading h3 {
    float: left;
    font-size: 20px;
    margin: 0;
    color: #FFFFFF; /* Blanco */
}

/* Botones de acción */
.pdocrud-button-add {
    background: #4CAF50; /* Verde medio */
    color: #fff !important;
}
.pdocrud-button-delete-all {
    background: #F44336; /* Rojo medio */
    color: #fff !important;
}

/* Encabezados de columnas */
.pdocrud-table th {
    background: #3a7bb5; /* Azul medio */
    color: #FFFFFF; /* Blanco */
}

/* Tabla */
.pdocrud-table {
    background: #F5F5F5; /* Gris muy claro */
    color: #333333; /* Gris oscuro */
}

/* Filas alternas */
.pdocrud-table tr:nth-child(odd) {
    background: #FFFFFF; /* Blanco */
}
.pdocrud-table tr:nth-child(even) {
    background: #F9F9F9; /* Gris muy claro */
}

/* Búsqueda y botones */
.pdo-search-cols a,
.pdocrud-button-delete-all {
    color: #fff !important;
}

/* Paginación */
.pdocrud-pagination .pagination>li>a {
    color: #3E8EDE; /* Azul medio */
    cursor: pointer;
}
.pdocrud-pagination .pagination>.active>a {
    background-color: #3E8EDE; /* Azul medio */
    border-color: #3E8EDE; /* Azul medio */
    color: #FFFFFF; /* Blanco */
}

/* Cuerpo del panel */
.panel-body {
    background-color: #E0E0E0; /* Gris claro */
}

/* Botones de fila */
.pdocrud-button-view {
    margin-right: 7px;
}
.pdocrud-button-edit {
    margin-right: 7px;
}
.pdocrud-button-delete {
    margin-right: 7px;
}

ul.pdocrud-export-options li {
    background-color: #FFFFFF; /* Blanco */
}

/* Estilo de encabezados de la tabla */
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    padding: 4px 25px;  
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF; /* Blanco */
}
.pdocrud-table-container .table tbody tr td {
    border-right: 1px solid #DDDDDD; /* Gris claro */
    white-space: nowrap;
    padding: 4px 10px;  
    color: #333333; /* Gris oscuro */
    text-align: center;
}
.pdocrud-table-container table tr.pdocrud-header-row th {
    padding: 4px 10px;    
    border-right: 1px solid #DDDDDD; /* Gris claro */
    color: #FFFFFF; /* Blanco */
}

/* Hover en los botones */
.pdocrud-table-container table tr.pdocrud-header-row th {
    padding: 9px 15px;    
}
.pdocrud-table tbody tr.pdocrud-data-row {
    height: 50px;
}
.pdocrud-table tbody tr.pdocrud-data-row:hover td.pdocrud-row-actions {
    position: sticky;
    right: 0;
    border-left: none;
    margin-top: 0;
    border-bottom: none;
    border-top: none;
}
